<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
    <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>We've got some trouble | 403 - Access Denied</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/css/accessdenied.css}" rel="stylesheet" media="screen"/>
</head>

<body>

	

	<div>	
	<a th:href="@{/}">Back to Home Page</a>
	 </div>
	 <div class="cover"><h1>Access Denied <small>Error 403</small></h1><p class="lead">The requested resource requires an authentication.</p></div>
    <footer><p>Technical Contact: <a href="mailto:erez.cohen23.com">erez.cohen23.com</a></p></footer>


</body>

</html>